@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Ranchers&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pridi:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

#titlefont {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
    line-height: 2.0;

  color: DeepSkyBLue;
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 8px;
  text-align: left;
}


a {
	text-decoration: none; /* remove underline */
	color: inherit; /* remove blue */
}


i {
	color: DeepSkyBLue; 
  margin-left:30px;
  margin-top:20px;
}

.menu {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: DeepSkyBLue;
  padding-left: 12px;
  text-align: left;
}

#sidebar{
  position:absolute;
}

.menudiv {
  align:left;
  margin-left: 50px;
  width: 200px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: thin solid #33353d;

}

.paragraphs {
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
  font-size: 18px;
  text-align:justify;
  color: Gray;
  padding-left: 60px;
  padding-right: 40px;
}

.pardiv {
  align:left;
  margin-left: 50px;
  width: 450px;
  padding-top: 4px;
  padding-bottom: 4px;

}

.outer {
  display: block;
  width: 600px;
  height: 842px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  overflow: hidden;
  position: relative;
}

.inner {
  width: 2400px;
  height: 842px;
  display: block;
  background: url(https://photos.google.com/u/1/photo/AF1QipNICp9xx1y4GhJflHpclwQ8HPYCVEGV6WUmzlhT),
    url(https://photos.google.com/u/1/photo/AF1QipPHyY0MvIsZSi8uvxTGFtZOD4Pzc241UaH4w4mG) 600px 0,
    url(https://photos.google.com/u/1/photo/AF1QipMu9TejvqArPylLugNQzLwBYg3vAUdfFEq-gOHV)1200px 0,
    url(https://photos.google.com/u/1/photo/AF1QipNICp9xx1y4GhJflHpclwQ8HPYCVEGV6WUmzlhT)1800px 0;
  background-repeat:no-repeat;
  background-size: 600px 842px;
}

.outer:hover .inner,
.outer:focus .inner {
  animation: swap 1s linear infinite;
}

.outer:focus {
  border: 0.5px solid #141517;
}

@keyframes swap{
  0%{transform:translateX(-600px)}
  24.999%{transform:translateX(-600px)}
  25%{transform:translateX(-1200px)}
  49.999%{transform:translateX(-1200px)}
  50%{transform:translateX(-1800px)}
  74.999%{transform:translateX(-1800px)}
  75%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}



body {
  background-color: #141517;
  background-size: cover;
  background-repeat: repeat;
}

img {
  align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:10px;
}

