@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Ranchers&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pridi:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

#titlefont {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
    line-height: 2.0;

  color: DeepSkyBLue;
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 8px;
  text-align: left;
}


a {
	text-decoration: none; /* remove underline */
	color: inherit; /* remove blue */
}


i {
	color: DeepSkyBLue; 
  margin-left:30px;
  margin-top:20px;
}

.menu {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: DeepSkyBLue;
  padding-left: 12px;
  text-align: left;
}

#sidebar{
  position:absolute;
}

.menudiv {
  align:left;
  margin-left: 50px;
  width: 200px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: thin solid #33353d;

}

.paragraphs {
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
  font-size: 18px;
  text-align:justify;
  color: Gray;
  padding-left: 60px;
  padding-right: 40px;
}

.pardiv {
  align:left;
  margin-left: 50px;
  width: 450px;
  padding-top: 4px;
  padding-bottom: 4px;

}

.outer {
  display: block;
  width: 600px;
  height: 842px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  overflow: hidden;
  position: relative;
}

.inner {
  width: 2400px;
  height: 842px;
  display: block;
  background: url(https://lh3.googleusercontent.com/asUJo4jIZyub5qLqwFs6Ye7SvxbVoOk6jsD7nUWOK-C0osQZi7Q6sXrFZs1XYB2_Fx9wSLP--SOx5e_5mezrbSgZwJmYsh66TLABxp_cVZl_gv1mfKPlUt2NIu1nv_gisBETq_rd_X99qKbrFYzjYUI-YWib5GNKk5Eim6MxvMCsgd-ky30vJHzgjgDZvbLGSXYc3K4S6JIwivEvtp66nj8CLr_gjbcz4GQHw11hpH161v1lw0eJeD3YIEuvYCQ21A0hPiu0gTj_bx7hD0UUYjE2Vn9tIi3fQl_dbpEnwAPJ9IC9A-ykbY0AxCAcmlLgYG0yywKn3GmXrFtsaEU73808l8riCqcGWZb_Yw4RkAwPwurM_4boWQUAj1DFUzRSQk2-PJZQ4KXqM_lEg22hUhnIOB0naIrjTQzfkr3RzjzGXCUW70sdj01oTEU3cSo3bcHDq3tDWpS6_k-Bu_o9Ov-rj4AFiXWyacGv0CdRMbIpmtJZ8M7YqiLLCXRNAdZvMs9Fddaj0ajp9OhZyqJ7RNH1COfmAipFmSBhSV7xm6rWGV8KhbpLUZDRhQrb84_3-B3kjqJpJYLsLuE4wfS8V7WB6aoOw5lBxVO8jRrvCc0nCCKw3yEmrvLGaUeTazNSd5fbDqov6MXSsA7iWD8tO_751Qo41xleK4FJiNkK_1sXdxGJqXR8RfNaghs2mHIAg6akMMK6xvu-AOEnvn24i3dqpQZtS0Xk6-QHsnPffW8Bpjl2zD6foNoe3Ao6B0TSCLQLEzTSUnZiV6oqjVFNugyO5b20X8mpDzMjA5F0x00LjG-_EytIribRo99P51vnslgK=w1312-h1838-no?authuser=1),
    url(https://lh3.googleusercontent.com/26xs8OHsPsiTPg5_fH2EvfZx5xaj3iyP0ZQNci3XmluyIKUXoiDiM7FwWZbG5Z1tczS1NQGxGwMAeTrFzZ24inNQjEHWlgfm2fahaqg8ed6xdpwWy-jvykKGxA0o1dOzO6V9k0cLXKs3P2iOjid-VPrFn32AQIIMuEkOhgTVL1fvrha4uP1QqC9_f0Pn8Tp7KTck2xRPCkxRzJ0irOqqVrBoxlY5Jybde_PlNIPbVOFRN2jPp3V1QW4WcWuB4bxZxbn96kNxLthzaay6ZP2MYESmMrfphkYkHfT-rUyRIlTw1yvRKbUKM-ug_R2L93eT1RnvcI7O2iETt20mypv6n-UpikMnMlFj1exFEnloeUg9egHM7HVd0v3K55g5t7ChgtemsPylCRXj4e48mxTAiQVW4_7PUR_THflT-zfHvmWbWryz8mWc_lVCk23JUE2YW7s4iDEVyNfNCvcwlvLPiq1BTVHbx5gY2Sl3cLTT70saAdf8f0iWxuIU1jBfiwkq3QxiVkDr4_Uc2cTxvv7vOUa0yOy6NZZ0d3cDggdVqRMbaTGdjztp54I3NxEb1dXRI5Tu_uxXaOU_HXAj7MIHevHMdRPFJUVKEQ_Le1RuoKiLRkLDy8SPJHvwSG5UJYW6lR1osKHitJ_xCB8BQRytZzNCguVivB2Sc6_USAcUP7vY-bnrm9KYovWc3nrDB2249s7uZDYLdQJSnaYyYTxRjfnYf0rO5vOBIvDBJIFAA8W9u7cNtzjPP3yBjJg5TK6_fhL2YxJ6oyH-YBW3irsvlSTS6Q_qxTTT6ik3cciD1Q7OLf8h5_xn3qio7xDN5gC74GXn=w1386-h1942-no?authuser=1) 600px 0,
    url(https://lh3.googleusercontent.com/wNnjEsgSA1TJq9xtcuuOC3H-h4IDan_GHx7BckTAburi9hEmLgJMUmOrdcNbDs0skaNKmlKucHbV5GxH8us7_95cnTEiz__YqIzDzG6KSSUtjrUJileY-AQtS-fIvk2BzZBgCv7u8RiV2RISja9MAOoP-ArgzAX3ur3j2ePqlvzyS_wy5BGNtl3S0bL1Hbzl9Sr-aRaJ-ZGUyZGvOqs02MeqoGlNl6AxRK9mzoSPN9bukqQdEOgAZe4Nctd3F4XJ_0iZus6SLi48hgfND_1nw34lcUfib3YMESf3bohYvClEBa9UAvvPAxgcceT5TbOjA0ATh2Y0sEDdY-DDFBdtsHqz0qpOg5_Gks5N-Gr3HaMMsZbPXGmwGemyRTaFbQh0NlNdcEuIBcVj_TdLDJQGRaE9lT9xREIFQFHmaC_qsqJs4gC26J276q4D22-efVRnLLN7VFw0b7yTI7FPATenXrdL7nyFacy0XxL4V48PrLwY42u77jsDNtZmkCDYJNpWKoDOo9VvK58MJ0D6lGvhqBDjTNSFNe7O52H5hfYZBOvsorIyDjguEV2bGa4fgjaMeuVYmPhLSquAuXXkyogYUqQ0N5sLTqjmwqDpGlfpmGin7uG4GUkm3qMAetTvUMf-jrdIFFU25amheTIMN8Z2FH3eaCmF2UGdL2agr8zXZkRvBQbLD1W91ORFQly_eLeIC8ohkySh1Uxiddnegusyjfh5d96ViTvfqUB2xx-9XYIz1pP_fkPi-C7TAcGY4ebGlYx--UhoTOI9e9c43Fwx8kghNR9vVonHG3fFXVtMoLopXOoxws1-gG8xtXxaZOnx7pBv=w1386-h1942-no?authuser=1)1200px 0,
    url(https://lh3.googleusercontent.com/asUJo4jIZyub5qLqwFs6Ye7SvxbVoOk6jsD7nUWOK-C0osQZi7Q6sXrFZs1XYB2_Fx9wSLP--SOx5e_5mezrbSgZwJmYsh66TLABxp_cVZl_gv1mfKPlUt2NIu1nv_gisBETq_rd_X99qKbrFYzjYUI-YWib5GNKk5Eim6MxvMCsgd-ky30vJHzgjgDZvbLGSXYc3K4S6JIwivEvtp66nj8CLr_gjbcz4GQHw11hpH161v1lw0eJeD3YIEuvYCQ21A0hPiu0gTj_bx7hD0UUYjE2Vn9tIi3fQl_dbpEnwAPJ9IC9A-ykbY0AxCAcmlLgYG0yywKn3GmXrFtsaEU73808l8riCqcGWZb_Yw4RkAwPwurM_4boWQUAj1DFUzRSQk2-PJZQ4KXqM_lEg22hUhnIOB0naIrjTQzfkr3RzjzGXCUW70sdj01oTEU3cSo3bcHDq3tDWpS6_k-Bu_o9Ov-rj4AFiXWyacGv0CdRMbIpmtJZ8M7YqiLLCXRNAdZvMs9Fddaj0ajp9OhZyqJ7RNH1COfmAipFmSBhSV7xm6rWGV8KhbpLUZDRhQrb84_3-B3kjqJpJYLsLuE4wfS8V7WB6aoOw5lBxVO8jRrvCc0nCCKw3yEmrvLGaUeTazNSd5fbDqov6MXSsA7iWD8tO_751Qo41xleK4FJiNkK_1sXdxGJqXR8RfNaghs2mHIAg6akMMK6xvu-AOEnvn24i3dqpQZtS0Xk6-QHsnPffW8Bpjl2zD6foNoe3Ao6B0TSCLQLEzTSUnZiV6oqjVFNugyO5b20X8mpDzMjA5F0x00LjG-_EytIribRo99P51vnslgK=w1312-h1838-no?authuser=1)1800px 0;
  background-repeat:no-repeat;
  background-size: 600px 842px;
}

.outer:hover .inner,
.outer:focus .inner {
  animation: swap 1s linear infinite;
}

.outer:focus {
  border: 0.5px solid #141517;
}

@keyframes swap{
  0%{transform:translateX(-600px)}
  24.999%{transform:translateX(-600px)}
  25%{transform:translateX(-1200px)}
  49.999%{transform:translateX(-1200px)}
  50%{transform:translateX(-1800px)}
  74.999%{transform:translateX(-1800px)}
  75%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}



body {
  background-color: #141517;
  background-size: cover;
  background-repeat: repeat;
}

img {
  align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:10px;
}

