@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Ranchers&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pridi:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

#titlefont {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
    line-height: 2.0;

  color: DeepSkyBLue;
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 8px;
  text-align: left;
}


a {
	text-decoration: none; /* remove underline */
	color: inherit; /* remove blue */
}


i {
	color: DeepSkyBLue; 
  margin-left:30px;
  margin-top:20px;
}

.menu {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: DeepSkyBLue;
  padding-left: 12px;
  text-align: left;
}

#sidebar{
  position:absolute;
}

.menudiv {
  align:left;
  margin-left: 50px;
  width: 200px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: thin solid #33353d;

}

.paragraphs {
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
  font-size: 18px;
  text-align:justify;
  color: Gray;
  padding-left: 60px;
  padding-right: 40px;
}

.pardiv {
  align:left;
  margin-left: 50px;
  width: 450px;
  padding-top: 4px;
  padding-bottom: 4px;

}

.outer {
  display: block;
  width: 600px;
  height: 842px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  overflow: hidden;
  position: relative;
}

.inner {
  width: 2400px;
  height: 842px;
  display: block;
  background: url(https://lh3.googleusercontent.com/HfXWFIpi5ruwYdFVTf9W7pUJ7PfOhCcz_QWtpIoZNnq6xHszSY5LO7sQuLC881CO8eYG1COsLwF4r3LmN6P0Q0M2NPWOVWktWNoEi_23AIQzxKmqZfbpKaZwdE8qCN6X-_rpKGmmCAPe1BD3TCKynWNkPwmv0AaqgE-OwhYUPLMbtfrJoRK7DfTg0uUKA41I60aduCuaEDCUsR7xNvZchs0QAzyKrmKjZ1nN0RjVRAhEmbEI-K6fPIE1UYsbp6DE-6-qYf0stRtGQ2isnzkcuFtdCVBNs9zPMUgsTDg4eFav_uXUWTyPGrsoA0RUbFI95k9r4n0GxKu5k4WloWshk_plfl40wEsrv4yIZsYlDkpiFf0KeRfaJKMTCKxt7E4cvGO0X3PHLU11fnw7CGJW6iSAg91i0GA472g3jdp--amFZ9rkCgKkCkZn-vNtomBiRIkNRHaoLm5Xq5_sKJg2vs6TTye95TfthRtZIf9Le9k01rzQYAD6PJzuV0hfgwCOfVjsnt2MC5kAk0CrozPtCJYwqomoxAtFtx9gyKjaYcL3BGVdaWKbldnOdvwnDoinYSwN-RgCzRd3Bow7n7qIoqz6E2gXuubOwVeBOGOzQZ0OEUa4ro_Qj5T9f7UwjD69Dfn99zXWx170yhoajufdxvofPS-F4DkuY11mAl1-KLJuHF3b3qrAsCCmfPwvWxMsIfLnYC02wRki_MdIbL5vCOay=w1304-h1828-no?authuser=0),
    url(https://lh3.googleusercontent.com/-YSVP9LIU0l8GLYj0S6bM8MX58HoTmT7GiCTOBCPOYrcPPQuTyWyeCc2Zg2y2mJwBGEC1ZD0Vh3tS0sfZIKtFduT1wsGs2LVdR4mBYfA-tB5JM8KvImLYCES2pCS_sqxDda9DWmVBmrs47uKM_SZodDWLKxiBncZsnrUo1WnFA-_YVfUO6aPnJIbtw8B6g9FbHPqfnVfK0k1nqXv5EugczMgM-o6xruUB7zR5qg3jnay848eFAgBg9QHSzO1mnYNTqHszD2aHeHhWM3n5bSedSQwULs_s6BI71BJKqSD1uRwVcsHwbdflNDfQDI4fcuqgK2OO7B1y3FZceafZWg_19TqW1JZaceTsEztK_dlGu36tQ8yhjzeFTtCdqvAkcTM1s-6N2EMU5vwivsfSFfnHK7TRK_rAm7hg6n9fC7S83DdWOqT4l08Gq9dJrU6Hkw-Kl0bMq3OG2174eYzDtVn4kmN1p1favaAbMzMn7bFZsCkgZ-SGT-PNopdlrPPq-If8bM8_P_QHG8XaPwjzICT5Y5Rn0ntM5ok-uifqzMh03mUM6BFfz8tXIl_Nr4HV3L6joHXyGwlJMbtDL8o2eCZin80uWmdSJoiEs8mP8LJUTLUDKgVPswjH4-zr68ulxj8uA2XMm9jqAtcJ4SFP-c7E8ZisHVKFY0cqyLgebsfpQCvI_MVj_tgM5MfdsSeq6LWo6xTHDwaJFiUbwqhk4PO4eQpPoRR9aHb1ZzL-kfRIIE1A8ChFZs0zK9LFI2qgI8lprg5wmrQACj079JgNspObG8i_91M7uZDFl5VsdcqQ6pajRyDZ8BWneSRYCIObelimcgZ=w1166-h1634-no?authuser=0) 600px 0,
    url(https://lh3.googleusercontent.com/cmrhQ3uqegTUhs15uA0HgF-pYtpDxFrn1K2rJ0SgrRGmOqIZuQs2YjX56BuIQpfRvDUqMoPgrcW8gIrgFE3k7PRekxy67gEXhZAbXWXrqManww67XGPdQkv6uiDCrtSQsn_0OJNV_HsMIfK4QIrzhWPhOVFc7zjIVsJAWO2plZJr7T5MH5Usui77bEKjqN4s141QkuwjUvumDcei3yjnMG_cocUL-NUJOazHa04RjLiPOaCbYkql7LJUtberfSaR_tey5imtv-0meI5xN9GatSCGXfPAQi_fTG7j2U_y88cm4OvUQgvbEacWQH07Dgm61C3_hc-XJBVMA0ysdATxixdNzOEP3eFkyXiVQkQzWwrubamoEXIDBTqB4f3qIb56ve2rwxsecv6rws3TYUIeCcbzf3JK7u3BpNq4ZRDjFySio5FabfjPTBw5k0Pll2JTCWUKfK9xAoJP-mHtqKk9qvvfIA3MNsOaJeec_UOoYnCED5iRNNWuvNcWHH3q9_pOwoG7zpicPAWk-kL_TpXkMgt3bS9bu91GE-TYIF3kdFBqg8p-2AWiZrGhgjBA4X4sQ3ywMvZfkkTlLvbXz7Fj_-yBPlsE-Yf6EyZkX22HdasPfNksDN8Q719Ir2XiFXda6yxwQkGdVewKiAFNEcAa4kq-NkrthEXGxmDlJpOn288KqU_lXKeAf8YBA4bYVcRYHRUlHgp_yODsypA4XU96VHB9be71YPRu__bThudmr1EQ73-ERz7LB4njFcKLHiHKy6mO4JBxi1A3O4tPs3HPLsMchkl2EJTWVJbmNNdzqIsgw45OzE9JTV4zvT1A6H_YI4CX=w1166-h1634-no?authuser=0)1200px 0,
    url(https://lh3.googleusercontent.com/WztpcvlatxPt6Y0a2-dnel2fye1i6CHbnTBYYVsQadIiBPVd0ek1EfI6lsouk6WIjupQeqteyaVA761zwhD80Y1ZEHpq23Bct2swrtR2Ls-kV2augieorAdaG06eAT2w1kL4XA4IjurFofiaknE1cvfKm3WVz8A8voo2EvnIhwbxSZ8U7ho4rtP0FrNx5pggmdpoSDXpqZ9CO1Uk7XKEbSB0OiaY4Vzj4Zhhixex4oyOis304HMBERQ85tqLXVF6l4j-heO0XrtcqroGOjaVGJphuC7e-FErKtRKTpuVU4AG0TfTwEQwKY41XQGLkruRbPRAwkraT4zhbmNn8DKHa5RcaizPWZHZRoSMSh3gAt_cWFjQr74JdysMgC7bzbC4-qJ0PI6iwx2BuV8a1SnNIhBPLL-wrqGK8Jd9C0omw6gxFwLndO0p3iiLsNjeCZNUbvZWBHgeW0lCFtd6ZWKxWActErMYBJkIvYLjfTcldd4RJR2U8qJHsQFKTWxrs39j-gDIC0x0pdlAyyCVaJxcwHDRc0UlTmK2PvXNsb7DBJ-IOvvLxFuGKyrDH7qDTD80SNyO528S90U-dqpeENQE5cexC0iEwzTuD5hs4WS7Zk33zOrCS0BPiAYF0KiQvjuTFMxfaNu01sSRp_kk-mjjwu5b9ltJF2ZHucClFsiHMTZXNc8NGLWM1d9g3vK9jw05zaKGY4epwu2IXolRd2e4DfflIjZ2LA5Yx6V2z6jqAMklKLtuzDy8haBfXzkN0FpQr91aZlNnbXmVBEpXRejpJKW9GzVgHD2UJAJQeI6bIqa3sRUrXVkh8BogreQqWBRX389x=w1084-h1520-no?authuser=0)1800px 0;
  background-repeat:no-repeat;
  background-size: 600px 842px;
}

.outer:hover .inner,
.outer:focus .inner {
  animation: swap 1s linear infinite;
}

.outer:focus {
  border: 0.5px solid #141517;
}

@keyframes swap{
  0%{transform:translateX(-600px)}
  24.999%{transform:translateX(-600px)}
  25%{transform:translateX(-1200px)}
  49.999%{transform:translateX(-1200px)}
  50%{transform:translateX(-1800px)}
  74.999%{transform:translateX(-1800px)}
  75%{transform:translateX(0)}
  99.999%{transform:translateX(0)}
}



body {
  background-color: #141517;
  background-size: cover;
  background-repeat: repeat;
}

img {
  align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:10px;
}

